/src/GameData/TextureReplacer/Plugins
/src/GameData/TextureReplacer/EnvMap
/src/GameData/TextureReplacer/@Default.cfg
/src/GameData/TextureReplacer/README.md
/src/GameData/TextureReplacer/TextureReplacer.version
/src/GameData/TextureReplacer/ATM.cfg
/src/GameData/TextureReplacer/Heads
/src/GameData/TextureReplacer/Suits